<%= form_with(model: @item, data: { turbo: false }) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div>
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.order(:id), :id, :name %>
  </div>

  <%= f.submit %>
<% end %>
